.banner {
  background-image: url(../images/Eagle.jpg);
  min-height: 1000px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/Eagle@2x.png);
  }

  &__overlay {
    width: 100%;
    min-height: 1000px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  }  
}
